<div class="pb-5 mb-5 post">
  <div class="row border-bottom bw-2 border-black w-100 main-post">
    <div class="col-2 m-auto">
      <%= image_tag @author.avatar, :class => "author-picture image-user" %>
    </div>
    <div class="col post-text">
      <h1 class="mt-4" id="font-title">
        <%= @discussion.title %>
      </h1>
      <p class="main-font"><%= @users.where(id: @discussion.user_id).pluck(:username)[0] %></p>
    </div>
  </div>
  <% @commentaries.each do |commentary| %>
    <div class="row border-bottom bw-2 border-black w-100">
      <div class="col-2 border-right pt-3 pb-3 bw-2 border-black">
        <div class="border rounded-circle m-auto border-blue" id="image-comment">
        </div>
        <p class="text-center txt-commentary"><%= @users.where(id: commentary.user_id).pluck(:username)[0] %></p>
      </div>
      <div class="col pt-4 pl-4">
        <p class="lead text-justify txt-commentary">
          <%= commentary.txt %>
        </p>
        <p class="text-muted posted-at">
          Postado em 
          <%= commentary.created_at.to_date.strftime "%d/%m/%Y" %>
          às
          <%= commentary.created_at.to_time.strftime "%H:%M" %>
        </p>
      </div>
      <div class="col-2">
      </div>
    </div>
  <% end %>
  <div class="w-100">
    <%= form_for @commentary, :html => {:class => 'm-auto w-60'} do |f| %>
      <div class="m-auto">
        <%= f.text_area :txt, :class => "border rounded mt-3 txt-area", :placeholder => "Inserir um comentário..."%>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :discussion_id, :value => @discussion.id %>
        <%=image_submit_tag("icons8-enviar-e-mail-96.png", class:'send-icon')%>
      </div>
    <% end %>    
  </div>
<div>
