<div class="post">
  <div class="row main-post">
    <div class="col-2 author-picture-wrapper">
      <%= image_tag @author.avatar, :class => "author-picture image-user" %>
    </div>
    <div class="col post-text">
      <h1 class="font-title">
        <%= @discussion.title %>
      </h1>
      <p class="main-font"><%= @users.where(id: @discussion.user_id).pluck(:username)[0] %></p>
      <p class="description"><%= @discussion.description %></p>
      <p class="date">Criado em <%= @discussion.created_at.to_date.strftime "%d/%m/%Y" %></p>
    </div>
  </div>
  <% @commentaries.each do |commentary| %>
    <%@user =  @users.where(id: commentary.user_id)[0]%>
    <div class="row comment">
      <div class="col-2 comment-picture-wrapper">
        <%= image_tag @user.avatar, :class => "comment-picture" %>
        <p class="text-center txt-commentary"><%=@user.username %></p>
      </div>
      <div class="col comment-content">
        <p class="commentary-txt">
          <%= commentary.txt %>
        </p>
        <p class="text-muted posted-at">
          Postado em 
          <%= commentary.created_at.to_date.strftime "%d/%m/%Y" %>
          às
          <%= commentary.created_at.to_time.strftime "%H:%M" %>
        </p>
      </div>
      <div class="col-2">
      </div>
    </div>
  <% end %>
  <div>
    <%= form_for @commentary, :html => {:class => 'm-auto w-60'} do |f| %>
      <div>
        <%= f.text_area :txt, :class => "bordeqr rounded mt-3 txt-area", :placeholder => "Inserir um comentário..."%>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :discussion_id, :value => @discussion.id %>
        <%=image_submit_tag("icons8-enviar-e-mail-96.png", class:'send-icon')%>
      </div>
    <% end %>    
  </div>
<div>
