<%= form_for(commentary) do |f| %>
  <% if commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :txt %>
    <%= f.text_area :txt %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>

  <div class="field">
    <%= f.label :discussion_id %>
    <%= f.select :discussion_id, Discussion.all.collect { |discussion| [discussion.id, discussion.id] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
