<input style="display:none" class = "category_name_parser" value = <%= @category.name %> >
<div class = "added-to-kart">
  <div class = "kart-modal">
    <p>Produto adicionado com sucesso!</p>
    <div class = "action-buttons">
      <a href="<%='/kart_items'%>" class = "btn btn-primary">Ir para o carrinho</a>
      <a href="javascript:void(0)" id = "close-modal" class = "btn btn-secondary">Continuar comprando</a>
    </div>
  </div>
</div>
<div class = "product-wrapper">
  <div class = "row major-details">
    <div class = "picture col-4"><%= image_tag @product.image.url unless @product.image.blank? %></div>
    <div class = "other-details col-8">
      <h1><%=@product.name%></h1>
      <%= form_for(@kart_item) do |f| %>
        <div class = "quantity">
          <p>Quantidade: </p>
          <div class = "counter field">
            <%= link_to image_tag("collapse_icon", class:"collabsable-icon"), 'javascript:increment()'%>
            <%= f.text_field :quantity, class: "item_qtd", value:@quantity %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= link_to image_tag("collapse_icon", class:"collabsable-icon"), 'javascript:decrement()'%>
          </div>
        </div>
        <p class = "price"><%='R$ ' + number_with_precision(@product.price, precision: 2).to_s()%></p>
        <div class = "buttons">
          <a href="javascript:void(0)" id = "add_kart_btn" class = "btn btn-primary">Adicionar ao carrinho</a>
          <a href="javascript:void(0)" id = "buy_btn" class = "btn btn-secondary">Comprar</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "description">
    <h2>Descrição</h2>
    <p><%= @product.name %></p>
    <%if @product.description?%><p><%= @product.description%></p><% end %>
    <p>Informações Adicionais:</p>
    <%if @product.size?%><p>Tamanho: <%=@product.size%></p><% end %>
    <%if @product.color?%><p>Cor: <%=@product.color%></p><% end %>
    <%if @product.model?%><p>Modelo: <%=@product.model%></p><% end %>
    <%if @product.details?%><p>Detalhes Adicionais: <%=@product.details%></p><% end %>
    <%if @product.modelSize?%><p>Modelo Veste: <%=@product.modelSize%></p><% end %>
    <p>Categoria: <%=@category.name%></p>

    <h2>Avaliações</h2>
    <div class = "stars">
      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_comfort %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Conforto</p>
      </div>

      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_siteUsage %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Uso do Site</p>
      </div>

      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_delivery %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Entrega</p>
      </div>

      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_attendance %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Atendimento</p>
      </div>

      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_size %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Tamanho</p>
      </div>

      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_quality %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Qualidade</p>
      </div>

      <div class = "star-wrapper">
        <% contador = 1 %>
        <% while contador <= 5 %>
          <% if contador <= @product.star_resolution %>
            <%=image_tag("star_fill", class:"collabsable-icon")%>
          <% else %>
            <%=image_tag("star_empty", class:"collabsable-icon")%>
          <% end %>
          <% contador += 1 %>
        <% end %>
        <p>Resolução</p>
      </div>
    </div>
  </div>
</div>

<script>
function increment(){
  $('.item_qtd')[0].value++;
}
function decrement(){
  var qtd  = $('.item_qtd')[0].value;
  if(qtd > 1){
    $('.item_qtd')[0].value--;
  }
}
$('#add_kart_btn').click(function(e) {
  $($($(this).parent()).parent()).submit();
  $(".added-to-kart").css("display","flex");
  $('.item-count').text(parseInt($('.item-count').text(), 10)+1)
});

$('#buy_btn').click(function(){
  $($($(this).parent()).parent()).submit();
  setTimeout(function(){
    location.href = '/kart_items';
  }, 500);
});
$("#close-modal").click(function(){
  location.reload();
});
</script>