<!DOCTYPE html>
<html>
  <head>
    <title>Despindo O Tabu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    </script>
  </head>

  <body>
    <nav class="navbar sticky-top">
      <a class="navbar-brand" href="/welcome/index.html">
        <%=image_tag("logo.svg", class: "logo")%>
      </a>
      <div class="mat-div">
        <%= form_tag(products_path, method: :get) do %>
          <%=image_submit_tag("search_icon.svg", class:'search-icon')%>
          <%=text_field_tag :term, nil,placeholder: 'Pesquise por um produto', class: 'mat-input', id: 'search' %>
        <% end %>
      </div>
      <div class = "nav-icons">
        <%=link_to image_tag("forum_icon.svg", class: "search-icon"),subjects_path, class: 'icon-link'%>
        <%=link_to 'Fórum', subjects_path %>
        <%=link_to image_tag("carrinho_icon.svg", class: "search-icon"), kart_items_path, class: 'icon-link'%>
        <%=link_to 'Carrinho', kart_items_path%>
        <%# Added block of button %>
        <div class="dropdown">
        <button type="button" class="dropbtn">
        <%=image_tag("perfil_icon.svg", class: "search-icon")%>
        Perfil
        </button>
        <div class="dropdown-content">
          <% if user_signed_in? %>
        <p>Olá <strong><%= current_user.username %></strong>.</p>
          <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'dropdown-button dropdown-item'%>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, :class => 'dropdown-button dropdown-item'%>
        <% else %>
          <%= link_to 'Registre-se', new_user_registration_path, :class => 'dropdown-button dropdown-item'%>
          <%= link_to 'Login', new_user_session_path, :class => 'dropdown-button dropdown-item'%>
          <% end %>
        </div>
      </div>

    </nav>

    <div class = "container-fluid">
      <div class = "row">
        <% if (current_page?(commentaries_path)) || (current_page?(discussions_path)) || (current_page?(subjects_path)) || current_page?('/subjects/1/') || current_page?('/subjects/2/') %>
         <div class = "col-12 content">
          <%# Second navbar %>
            <div class = "navbar_forum">
              <ul>
                <li><a class = "theme" href ="/subjects">Temas</a><li>
                <li><%= link_to 'Sexo', Subject.find_by_name("Sexo") %></li>
                <li><%= link_to 'Ciclo Menstrual', Subject.find_by_name("Ciclo Menstrual") %></li>
                <li><%= link_to 'Maternidade', Subject.find_by_name("Maternidade") %></li>
                <li><%= link_to 'Dicas de Produtos', Subject.find_by_name("Dicas de Produtos") %></li>
                <li><%= link_to 'Em Alta', Subject.find_by_name("Em Alta") %></li>
                <li><%= link_to 'Regras', Subject.find_by_name("Regras") %></li>
              </ul>
            </div>
        <% elsif !(current_page?(kart_items_path))  %>
          <div class = "col-2 menu">
            <ul>
              <li><h3>CATEGORIAS</h3></li>
              <li><a href = "javascript:void(0);" class = "collapsible">Higiene e bem estar<%=image_tag("collapse_icon", class:"collabsable-icon")%></a></li>
              <ul class = "collapsible-content">
                <li><%= link_to 'Coletor', Category.find_by_name("Coletor") %></li>
                <li><%= link_to 'Absorvente', Category.find_by_name("Absorvente") %></li>
                <li><%= link_to 'Sabonete Intimo', Category.find_by_name("Sabonete Intimo") %></li>
                <li><%= link_to 'Desodorantes', Category.find_by_name("Desodorantes") %></li>
                <li><%= link_to 'Hidratantes', Category.find_by_name("Hidratantes") %></li>
              </ul>
              <li><a href = "javascript:void(0);" class = "collapsible">Langeries <%=image_tag("collapse_icon", class:"collabsable-icon")%></a></li>
              <ul class = "collapsible-content">
                <li><%= link_to 'Calcinha', Category.find_by_name("Calcinha") %></li>
                <li><%= link_to 'Sutiã', Category.find_by_name("Sutiã") %></li>
                <li><%= link_to 'Camisola', Category.find_by_name("Camisola") %></li>
              </ul>
              <li><%= link_to 'Preservativos', Category.find_by_name("Preservativos") %></li>
              <li><%= link_to 'Segurança', Category.find_by_name("Segurança") %></li>
              <li><%= link_to 'Acessórios', Category.find_by_name("Acessórios") %></li>
              <li><a href = "javascript:void(0);" class = "collapsible">Transição Capilar<%=image_tag("collapse_icon", class:"collabsable-icon")%></a></li>
              <ul class = "collapsible-content">
                <li><%= link_to 'Lenços', Category.find_by_name("Lenços") %></li>
                <li><%= link_to 'Perucas', Category.find_by_name("Perucas") %></li>
              </ul>
            </ul>
          </div>
          <div class = "col-10 content">
          <%# If of pages with the bar of Forum %>


        <% else %>
          <div class = "col-12 content">
        <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(".collapsible").click(function(){
      $('.collapsible-content').each(function(){
        $(this).slideUp();
      });
      $('.collabsable-icon').each(function(){
        $(this).css({
          "-webkit-transform": "rotate(0deg)",
          "-moz-transform": "rotate(0deg)",
          "transform": "rotate(0deg)" /* For modern browsers(CSS3)  */
        });
      });
      var content = $($(this).parent()).next()[0];
      var icon = $(this).children()
      if(content.style.display != "block"){
        $(content).slideDown();
        $(icon).css({
          "-webkit-transform": "rotate(180deg)",
          "-moz-transform": "rotate(180deg)",
          "transform": "rotate(180deg)" /* For modern browsers(CSS3)  */
        });
      }
    })
    var a;
    $(document).ready(function(){
      var categoryInput = $('.category_name_parser')[0];
      if(categoryInput){
        var category = categoryInput.value;
        $( "li" ).each(function( index ) {
          if($(this).text().includes(category)){
            var aTag = $(this).children();
            var parent = $(this).parent();
            $(aTag).addClass('active');
            if($(parent).hasClass('collapsible-content')){
              var icon = $($($(parent).prev()).children()).children();
              $(parent).css( "display", "block" );
              $(icon).css({
                "-webkit-transform": "rotate(180deg)",
                "-moz-transform": "rotate(180deg)",
                "transform": "rotate(180deg)" /* For modern browsers(CSS3)  */
              });
            }
          }
        });
      }
    });
  </script>
</html>
