<!DOCTYPE html>
<html>
  <head>
    <title>Despindo O Tabu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    </script>
  </head>

  <body>
    <nav class="navbar sticky-top">
      <a class="navbar-brand" href="/welcome/index.html">
        <%=image_tag("logo.svg", class: "logo")%>
      </a>
      <div class="mat-div">
        <%=image_tag("search_icon.svg", class: "search-icon")%>
        <input type="text" class="mat-input" id="search" placeholder = "Pesquise por um produto">
      </div>
      <div class = "nav-icons">
        <%=image_tag("forum_icon.svg", class: "search-icon")%>
        <a href = "">Fórum</a>
        <%=image_tag("carrinho_icon.svg", class: "search-icon")%>
        <a href = "">Carrinho</a>
        <%=image_tag("perfil_icon.svg", class: "search-icon")%>
        <a href = "">Perfil</a>
      </div>
    </nav>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-2 menu">
          <ul>
            <li><h3>CATEGORIAS</h3></li>
            <li><a href = "javascript:void(0);" class = "collapsible">Higiene e bem estar<%=image_tag("collapse_icon", class:"collabsable-icon")%></a></li>
            <ul class = "collapsible-content">
              <li><a href = "#">Coletor</a></li>
              <li><a href = "#">Absorvente</a></li>
              <li><a href = "#">Sabonete Intimo</a></li>
              <li><a href = "#">Desodorantes</a></li>
              <li><a href = "#">Hidratantes</a></li>
            </ul>
            <li><a href = "javascript:void(0);" class = "collapsible">Langeries <%=image_tag("collapse_icon", class:"collabsable-icon")%></a></li>
            <ul class = "collapsible-content">
              <li><a href = "#">Calcinha</a></li>
              <li><a href = "#">Sutiã</a></li>
              <li><a href = "#">Camisola</a></li>
            </ul>
            <li><a href = "#">Preservativos</a></li>
            <li><a href = "#">Segurança</a></li>
            <li><a href = "#">Acessórios</a></li>
            <li><a href = "javascript:void(0);" class = "collapsible">Transição Capilar<%=image_tag("collapse_icon", class:"collabsable-icon")%></a></li>
            <ul class = "collapsible-content">
              <li><a href = "#">Lenços</a></li>
              <li><a href = "#">Perucas</a></li>
            </ul>
          </ul>
        </div>
        <div class = "col-10 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(".collapsible").click(function(){
      $('.collapsible-content').each(function(){
        $(this).slideUp();
      });
      $('.collabsable-icon').each(function(){
        $(this).css({
          "-webkit-transform": "rotate(0deg)",
          "-moz-transform": "rotate(0deg)",
          "transform": "rotate(0deg)" /* For modern browsers(CSS3)  */
        });
      });
      var content = $($(this).parent()).next()[0];
      var icon = $(this).children()
      if(content.style.display != "block"){
        $(content).slideDown();
        $(icon).css({
          "-webkit-transform": "rotate(180deg)",
          "-moz-transform": "rotate(180deg)",
          "transform": "rotate(180deg)" /* For modern browsers(CSS3)  */
        });
      }
    })    
  </script>
</html>
